/**
 * @author Jack Veromeev
 */
#pane {
  -fx-alignment: center, center;
  -fx-padding: 10.0;
  -fx-background-color: rgb(251.0, 248.0, 241.0);
}

.label {
  -fx-font-family: 'sans-serif';
  -fx-font-size: 25.0px; 
  -fx-text-alignment: center;
  -fx-border-color: black;
  -fx-pref-height: 70.0px;
  -fx-pref-width: 200.0px;
  -fx-alignment: center;
  -fx-border-radius: 5
}

#c1 {
  -fx-text-fill: #776e65;
  -fx-background-color: rgb(251.0, 248.0, 241.0); 
  -fx-background-radius: 3.0;
  -fx-border-width: 0;
  -fx-pref-width: 210;
  -fx-font-size: 20;
}
#exit-pane {
  -fx-background-color: rgba(251.0, 248.0, 241.0, 0.9); 
  -fx-border-width: 0;
  -fx-pref-width: 300;
  -fx-pref-height: 300;
}
#exit-label {
  -fx-text-fill: #776e65;
  -fx-background-color: rgba(251.0, 248.0, 241.0, 0.0); 
  -fx-background-radius: 10.0;
  -fx-border-width: 0;
  -fx-border-radius: 10;
  -fx-pref-width: 300;
  -fx-font-size: 20;
}
#exit-button {
  -fx-text-fill: #776e65;
  -fx-background-color: rgba(251.0, 248.0, 241.0, 0.0); 
  -fx-background-radius: 10.0;
  -fx-border-width: 2;
  -fx-border-color: darkcyan ;
  -fx-border-radius: 10;
  -fx-pref-width: 200;
  -fx-font-size: 20;
}